<div class="container">
  <div class="row">
    <div class="col col-md-6 offset-md-3">
      <h1>Add a new Flat</h1>
      <%= simple_form_for @flat do |f| %>
        <%= f.input :name, label_html: { class: "form-label" },input_html: { class: "form-control" }  %>
        <%= f.input :address, label_html: { class: "form-label" },input_html: { class: "form-control" } %>
        <%= f.input :description, label_html: { class: "form-label" },input_html: { class: "form-control" } %>
        <%= f.input :price_per_night, label_html: { class: "form-label" },input_html: { class: "form-control" } %>
        <%= f.input :number_of_guests, label_html: { class: "form-label" },input_html: { class: "form-control" } %>
        <%= f.input :photo, as: :file, label_html: { class: "form-label" },input_html: { class: "form-control" } %>
        <br>
        <%= f.button :submit, "Add flat", class: "btn btn-success" %>
        <%= link_to "Cancel", flats_path, class: "btn btn-secondary" %>
      <% end %>
    </div>
  </div>
</div>
